* {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color : #222;
  min-height:200px;
}

header{
    width:100%;
}

header {
    position:fixed;
    top:0;
    z-index: 9;
    height:40px;
    font-size : 24px;
    display:flex;
    flex-flow: center;
    align-items: center;
    justify-content: center;

    background-color : #add8e6;
    box-shadow : 0px 2px 2px #fff;
}



#root {
    margin-bottom:10px;
    clear:both;
}



