.timerdisplay-container {
    width : 100%;
    display:flex;
    align-content: center;
    justify-content : center;
    align-items: center;
    min-height: 150px;
}

.timerdisplay-watch {
    width : 50px;
    height: 100px;

    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content : center;
    align-items: center;
    color : beige;
    font-size:2.5em;
}

.timerdisplay-watch .label {
    font-size: 0.4em;
    margin-top : 7px;
    color : burlywood;
}

.timerdisplay-watch.warning {
    color : #f90;
}

@media screen and (max-height:450px) {
    .timerdisplay-container {
        min-height:100px;
    }
    .timerdisplay-watch {
        height: 180px;
    }
}